@font-face {
  font-family: berliner_g;
  src: url(BerlinerGroteskMedium.ttf);
}

html, body{
	-webkit-font-smoothing:antialiased;
	font-family: "berliner_g", sans-serif;
	line-height:1.4;
	margin:0 auto;
	max-width:860px;
	height: 100%;
	font-size: 1.2em;
	cursor: url('img/pointer.png'), auto;
}
.center{
	text-align: center;
}
.intro{
	font-size:5em;
	color: yellow
}
.max { 
    display: block;
    width: 860px;
    word-wrap: break-word;
}
.bg1{
	background-image: url("img/starbackground.gif");
}
.bg2{
	background-image: url("");
}
a {
	color: rgb(176, 92, 255);
	cursor: url('img/glove.png'), auto;
}
#wm-ipp #wm-ipp-inside {
  margin: 0 6px;
  border:5px solid #000;
  border-top:none;
  background-color:rgba(255,255,255,0.9);
  -moz-box-shadow:1px 1px 4px #333;
  -webkit-box-shadow:1px 1px 4px #333;
  box-shadow:1px 1px 4px #333;
  border-radius:0 0 8px 8px;
}
.container {
    width: 1000px;
    height: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}
h1, h2, h3, p {
  color: rgb(28, 240, 255);
}
span.line{
  color: rgb(28, 240, 255);
	padding-left: .3em;
	padding-right: .3em;
}
.cursor{
    cursor: url('img/pointer.png'), auto;
}

.home {
	padding-top: .5em;
}

/* @group Blink */
.blink {
	-webkit-animation: blink 2s linear infinite;
	-moz-animation: blink 2s linear infinite;
	-ms-animation: blink 2s linear infinite;
	-o-animation: blink 2s linear infinite;
	 animation: blink 2s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */

/*for footer
#main{
	min-height: 90vh;
}
*/

/* Table CSS */
div.tbl {
	text-align: left;
}
.divTable.tbl .divTableCell, .divTable.tbl .divTableHead {
}
/* DivTable.com */
.divTable{ display: table; max-width: 600px; margin: 0 auto; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell; padding: 1em;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}